@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
  --font-serif: var(--font-instrument);

  --color-accent: #0F5F6D;
  --color-accent-hover: #0a4a55;
  --color-accent-soft: #e6f1f3;
}